**/__pycache__/
data/**/raw/
data/**/handled/
data/douyin
data/fashion
data/google
data/HM
data/steam
data/data
data/tmall
logs/
saved/
**.txt
**.csv
log/
results/**/
**.log
wandb/
saved_grads/
*.out
**.tar.gz


data/**/*.json
results/*.py
results/*.ipynb
results/*.png
results/*.pdf
*.png
*.ttf
data/*.ipynb
data/*.py